.menu{
  .item{
    min-width: 150px;
    padding:10px 16px;
    background: red;
    background: #ccc;
  }
  .subItemContainer{
    padding-left:20px;
    transition: all 250ms linear;
  }
  .none{
    display: none;
  }
}